*.gz
*.pdf
*.dat
*.gp
backup
work
*bin/
*/obj/
*/run*
*.sh
*.out
*.ods
*.zip
data
doc
runs
utilities/chebeval/chebeval
utilities/f/f
utilities/hdf2hdf/hdf2hdf
utilities/hdf2txt/hdf2txt
utilities/stack/stack
*/project
*/html
