html {
	margin-top: 20px;
	background-color: white;
}
body {
}
td {
	padding: 10px;
}
div {
	color: black;
	font-family: "Verdana", sans-serif;
}
div.grid {
	margin-left: auto;
	margin-right: auto;
	width: 1140px;
/* 	position: absolute; */
	border-style: solid;
	border-width: 1px;
	border-color: black;
}
div.ramec {
	margin-left: auto;
	margin-right: auto;
	width: 550px;
	border-style: solid;
	border-width: 1px;
	border-color: black;
}
div.ramec2 {
	margin-left: auto;
	margin-right: auto;
	width: 1100px;
	border-style: solid;
	border-width: 1px;
	border-color: black;
}
table.logtable {
	margin: 10px;
	font-size: 12px;
	border-collapse: collapse;
	border-style: solid;
	border-width: 1px;
	border-color: black;
}
table.logtable th, table.logtable td {
	border-style: solid;
	border-width: 1px;
	border-color: black;
}
div.nadpis {
	font-size: 60px;
}
div.podnadpis {
	font-size: 20px;
}
div.sekce {
	font-size: 20px;
	margin: 10px;
}
div.output {
	margin: 10px;
	padding: 10px;
	border-style: solid;
	border-width: 1px;
	border-color: black;
}
div.text {
	margin: 10px;
	text-align: justify;
	text-indent: 15px;
}
div.smalltext {
	margin: 10px;
	text-align: justify;
	text-indent: 0px;
	font-size: 8px;
}
div.pata {
	position: absolute;
	width: 100%;
	clear: both;
	margin: 5px;
	font-size: 10px;
	text-align: center;
}
ul {
	margin: 10px;
	color: black;
	text-align: justify;
	font-family: "Verdana", sans-serif;
}
span {
	font-family: "Verdana", sans-serif;
}
a.module {
/* 	font-family: "Verdana", sans-serif; */
	color:  #880000;
	font-style: bold;
    text-decoration: none;
}
