html {
	margin-top: 20px;
	background-color: white;
}
body {
}
td {
	padding: 10px;
}
div {
	color: black;
	font-family: "Verdana", sans-serif;
}
div.grid {
	margin-left: auto;
	margin-right: auto;
	width: 1140px;
/* 	position: absolute; */
	border-style: solid;
	border-width: 1px;
	border-color: black;
}
div.ramec {
	margin-left: auto;
	margin-right: auto;
	width: 550px;
	border-style: solid;
	border-width: 1px;
	border-color: black;
}
div.nadpis {
	font-size: 60px;
}
div.podnadpis {
	font-size: 20px;
}
div.sekce {
	font-size: 20px;
	margin: 10px;
}
div.output {
	margin: 10px;
	padding: 10px;
	border-style: solid;
	border-width: 1px;
	border-color: black;
}
div.text {
	margin: 10px;
	text-align: justify;
	text-indent: 15px;
}
div.pata {
	position: absolute;
	width: 100%;
	clear: both;
	margin: 5px;
	font-size: 10px;
	text-align: center;
}
ul {
	margin: 10px;
	color: black;
	text-align: justify;
	font-family: "Verdana", sans-serif;
}
span {
	font-family: "Verdana", sans-serif;
}
a.module {
	font-family: "Verdana", sans-serif;
	color: #775566;
	font-style: italic;
}

div.module {
	font-family: "Verdana", sans-serif;
	color: #775566;
	font-style: italic;
}
